<div class="card card-authentication1 mx-auto my-5">
    <div class="card-body">
        <div class="card-content p-2">
            <div class="text-center">
                <img class="heart-logo" src="/theme/images/icon/heart-icon.png" width="50">
            </div>
            <div class="card-title text-center py-3">
                Kurgun Heart Monitor
                <br>
                EMAIL VERIFICATION
            </div>
            <p class="pb-2"><%= resultMessage %></p>
        </div>
    </div>
    <div class="card-footer text-center py-3">
        <p class="text-warning mb-0">Go to the <a href="/account/login"> Login</a></p>
    </div>
</div>