<div class="card card-authentication1 mx-auto my-5" ng-app="myApp" ng-controller="loginController">
    <div class="card-body">
        <div class="card-content p-2">
            <div class="text-center">
                <img class="heart-logo" src="/theme/images/icon/heart-icon.png" width="50">
            </div>
            <div class="card-title text-center py-3">
                Kurgun Heart Monitor
                <br>
                LOGIN
            </div>
            <form ng-submit="Login()">
                <div class="form-group">
                    <label class="sr-only">Email</label>
                    <div class="position-relative has-icon-right">
                        <input ng-model="email" type="text" class="form-control input-shadow"
                            placeholder="Email">
                        <div class="form-control-position">
                            <i class="icon-envelope-open"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only">Password</label>
                    <div class="position-relative has-icon-right">
                        <input ng-model="pass" type="password" class="form-control input-shadow"
                            placeholder="Password">
                        <div class="form-control-position">
                            <i class="icon-lock"></i>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <%/*<div class="icheck-material-white">
                            <input type="checkbox" id="user-checkbox" />
                            <label for="user-checkbox">Remember me</label>
                        </div>*/%>
                    </div>
                    <div class="form-group col-6 text-right">
                        <div class="icheck-material-white">
                            <a href="/account/reset-password">Reset Password</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button class="btn btn-light btn-block" ng-disabled="isLoading">
                    <i ng-if="isLoading" class="fa fa-spin fa-spinner"></i> <span ng-bind="!isLoading ? 'Login' : 'Loading'"></span>
                </button>
                <div class="form-group pt-10" ng-bind="resultMessage"></div>
            </form>
        </div>
    </div>
    <div class="card-footer text-center py-3">
        <p class="text-warning mb-0">Do not have an account? <a href="/account/register"> Register here</a></p>
    </div>
</div>

<script src="/theme/js/controller/account/login.js"></script>