<div class="card card-authentication1 mx-auto my-5" ng-app="myApp" ng-controller="resetPasswordController">
    <div class="card-body">
        <div class="card-content p-2">
            <div class="text-center">
                <img class="heart-logo" src="/theme/images/icon/heart-icon.png" width="50">
            </div>
            <div class="card-title text-center py-3">
                Kurgun Heart Monitor
                <br>
                RESET PASSWORD
            </div>
            <p class="pb-2">Please enter your email address. You will receive a link to create a new password via email.</p>
            <form ng-submit="ResetPassword()">
                <div class="form-group">
                    <label class="sr-only">Email</label>
                    <div class="position-relative has-icon-right">
                        <input required ng-model="email" type="text" class="form-control input-shadow" placeholder="Email">
                        <div class="form-control-position">
                            <i class="icon-envelope-open"></i>
                        </div>
                    </div>
                </div>
                <button class="btn btn-light btn-block" ng-disabled="isLoading">
                    <i ng-if="isLoading" class="fa fa-spin fa-spinner"></i> <span ng-bind="!isLoading ? 'Reset Password' : 'Loading'"></span>
                </button>
                <div class="form-group pt-10" ng-bind="resultMessage"></div>
            </form>
        </div>
    </div>
    <div class="card-footer text-center py-3">
        <p class="text-warning mb-0">Return to the <a href="/account/login"> Login</a></p>
    </div>
</div>

<script src="/theme/js/controller/account/reset-password.js"></script>